@media (min-width: 32.5em) {
 
    main{

        grid-template-columns: 1fr 1fr;
       
    }
    
    .firstcolumn{
        grid-column: 1/2;
    }

    .secondcolumn{
        grid-column: 2/3;

    }

    .thirdcolumn{
        grid-column: 1/3;
        grid-row: 2;
    }




}